---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    920px;

$on-palm:          920px;
$on-laptop:        920px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"base",
		"layout",
		"syntax-highlighting"
;



//---
body {
	min-height: 100vh;
}

.wrapper {
	max-width: calc(780px - (30px * 2));
}

.site-title {
	margin-right: 10px;
}
a.site-title,
a.site-title:visited {
	color: #B22;
	transition: opacity 0.4s;
}
a.site-title:hover {
	// color: #D44;
	text-decoration: none;
	opacity: 0.75;
}

.site-nav a.page-link {
	transition: color 0.4s, background-color 0.4s;
}
.site-nav a.page-link:hover {
	text-decoration: none;
	background-color: #eee;
	color: #333;
}


@media screen and (max-width: $content-width) {
	.site-nav .page-link {
		// display: inline-block;
		// line-height: 56px;
		// padding: 0 10px;
		margin-left: 0;
	}
	.site-nav .page-link:not(:last-child) {
		margin-right: 0;
	}
}
@media screen and (min-width: $content-width + 1) {
	.site-nav .page-link {
		display: inline-block;
		line-height: 56px;
		padding: 0 10px;
	}
	.site-nav .page-link:not(:last-child) {
		margin-right: 0;
	}
}




.row {
	max-width: calc(#{$content-width} - (30px * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: 30px;
	padding-left: 30px;
}
.col-6 {
	width: 50%;
}

.offset-3 {
	margin-left: 25%;
}
.offset-6 {
	margin-left: 50%;
}
.offset-9 {
	margin-left: 75%;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-3,
.flex-4,
.flex-5,
.flex-6,
.flex-7,
.flex-8,
.flex-9 {
	box-sizing: border-box;
}
.flex-3 {
	flex: 25%;
}
.flex-4 {
	flex: 33.33333333%;
}
.flex-6 {
	flex: 50%;
}
.flex-8 {
	flex: 66.66666667%;
}
.flex-9 {
	flex: 75%;
}

.text-center {
	text-align: center;
}


.site-header {
	border-top: none;
}

.site-header,
.site-footer,
.wrapper {
	background-color: #fff;
	box-shadow: #fff 0 0 64px;
}

.page-content {
	// padding: 0;
	position: relative;
}

.page-background-image {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url(/img/page-background.jpg);
	background-size: cover;
	background-position: center;
}

.wrapper {
	padding-top: 30px;
}

.lang-link {
	display: inline-block;
	width: 20px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.lang-en { background-image: url(/img/lang/en.png); }
.lang-hu { background-image: url(/img/lang/hu.png); }
.lang-sr { background-image: url(/img/lang/sr.png); }
.lang-sr-outline { background-image: url(/img/lang/sr-outline.png); }
