<footer class="site-footer">

	<div class="row">

		<h2 class="footer-heading">{{ site.title }}</h2>

		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<ul class="contact-list">
					<li>{{ site.address }}</li>
					<li>{{ site.phone_number }}</li>
				</ul>
			</div>

			<style type="text/css">
				.site-footer .icon--facebook svg {
					width: 60px;
					height: 60px;

				}
				.site-footer .icon--facebook {
					transition: opacity 0.4s;
				}
				.site-footer .icon--facebook:hover {
					opacity: 0.9;
				}
			</style>
			<div class="footer-col footer-col-2">
				<a href="https://www.facebook.com/kinallat"><span class="icon icon--facebook">{% include icon-facebook.svg %}</span></a>
			</div>

			<div class="footer-col footer-col-3">
				<p>{{ site.description }}</p>
			</div>
		</div>

	</div>

</footer>
